body{
    background-color: grey;
}


#caixa1 {
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: blue;
    width: 700px;
    height: 100px;
    display: block;
    float: left;
   
}

#caixa2 {
    background-color: black;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 700px;
    height: 100px;
    display: block;
    float: left;
  
}

#caixa3 {
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 700px;
    height: 100px;
    display: block;
    float: left;

}